.about-me-section {
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    /* background: linear-gradient(135deg,#87CEFA , #f7f5f2 ); */
  }
  
  .about-me-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .about-me-content {
    display: flex;
    flex-wrap: wrap; /* Ensure wrapping on smaller screens */
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  
  .about-me-description {
    flex: 1;
    min-width: 250px;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
  }
  
  .about-me-details {
    flex: 1;
    min-width: 250px;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
  }
  
  @media (max-width: 768px) {
    .about-me-content {
      flex-direction: column; /* Stack content vertically */
      align-items: center;
    }
  
    .about-me-description,
    .about-me-details {
      text-align: center;
    }
  }
  